<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/assets/ejs/template.css">
</head>

<body>

  <div class="header">
    <% if (vm.logoUrl) { %>
    <div class="logo">
      <img src="<%= vm.logoUrl %>" alt="" />
    </div>
    <% }; %>
    <div class="meta">
      <table>
        <tr>
          <td colspan="2">Račun (Invoice)</td>
        </tr>
        <tr>
          <td>Broj računa (Invoice number):</td>
          <td><%= vm.invoiceNumber %></td>
        </tr>
        <tr>
          <td>Datum računa (Invoice date):</td>
          <td><%= vm.invoiceDate %></td>
        </tr>
        <tr>
          <td>Mjesto izdavanja (Place of issue):</td>
          <td><%= vm.placeOfIssue %></td>
        </tr>
        <tr>
          <td>Datum isporuke (Delivery date):</td>
          <td><%= vm.deliveryDate %></td>
        </tr>
        <tr>
          <td>Rok plaćanja (Due date):</td>
          <td><%= vm.dueDate %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="contact">
    <div class="seller">
      <div class="tag">Prodavač (Seller):</div>
      <div class="bold"><%= vm.sellerName %></div><br>
      <div><%= vm.sellerStreet %></div>
      <div><%= vm.sellerPostCode %> <%= vm.sellerCity %>, <%= vm.sellerCountry %></div><br>
      <div>PDV ID (VAT number): <%= vm.sellerVatNumber %></div>
    </div>
    <div class="buyer">
      <div class="tag">Kupac (Buyer):</div>
      <div class="bold"><%= vm.buyerName %></div><br>
      <div><%= vm.buyerStreet %></div>
      <div><%= vm.buyerPostCode %> <%= vm.buyerCity %>, <%= vm.buyerCountry %></div><br>
      <div>PDV ID (VAT number): <%= vm.buyerVatNumber %></div>
    </div>
  </div>

  <table class="items">
    <tr>
      <th>Opis (Description)</th>
      <th>Jedinica (Unit)</th>
      <th>Količina (Quantity)</th>
      <th>Cijena (Price)</th>
      <% if (vm.vat) { %>
        <th>PDV (VAT)</th>
      <% }; %>
      <th>Iznos (Sub total)</th>
    </tr>
    <% for (let i = 0; i < vm.items.length; i++) { %>
      <tr>
          <td><%= vm.items[i].description %></td>
          <td><%= vm.items[i].unit %></td>
          <td><%= vm.items[i].quantity %></td>
          <td><%= vm.items[i].price %></td>
          <% if (vm.vat) { %>
            <td><%= vm.vat.percentage %></td>
          <% }; %>
          <td><%= vm.items[i].subTotal %></td>
      </tr>
    <% }; %>
  </table>

  
  <% if (vm.vat) { %>
    <div class="vat-row">
      <div class="vat-container row1">
        <span>Ukupno (Total):</span>
        <span><%= vm.vat.grandTotalVatBase %></span>
      </div>
    </div>
    <div class="vat-row">
      <div class="vat-container row2">
        <span>PDV (VAT): <%= vm.vat.percentage %></span>
        <span>(osnovica (base): <%= vm.vat.grandTotalVatBase %>)</span>
        <span><%= vm.vat.vatAmount %></span>
      </div>
    </div>
  <% }; %>
  <div class="vat-row">
    <div class="vat-container row3">
      <span>Ukupan iznos naplate (Grand total):</span>
      <span><%= vm.grandTotal %></span>
    </div>
  </div>

  <div class="details">
    <div>Način plaćanja (Payment type)</div>
    <div>Transakcijski račun (Bank transfer)</div>
  </div>

  <div class="details">
    <div>Detalji o transakciji (Transaction details)</div>
    <div>IBAN: <%= vm.sellerIBAN %></div>
    <% if (vm.vat) { %>
      <div>Poziv na broj: <%= vm.vat.referenceNumber %></div>
    <% } else { %>
      <div>SWIFT: <%= vm.sellerSWIFT %></div>
    <% }; %>
  </div>

  <% if (!vm.vat) { %>
    <div class="details">
      <div>Napomena (Notes)</div>
      <div>Ne podliježe oporezivanju prema čl. 17. St. 1. Zakona o PDV-u - prijenos porezne obveze.</div>
      <div>(VAT not applied according to Article 17, section 1 of the Croatia VAT law - reverse charge.)</div>
    </div>
  <% }; %>

  <div class="details">
    <div>Operater (Operator)</div>
    <div><%= vm.sellerOperator %></div>
  </div>

  <% if (vm.vat && vm.vat.barcodeData) { %>
    <canvas class="barcode" data-barcode="<%= vm.vat.barcodeData %>"></canvas>
  <% }; %>

  <div class="bottom">
    <div class="line"><%= vm.sellerName %></div>
    <div class="bullet">●</div>
    <div class="line">Address: <%= vm.sellerStreet %>, <%= vm.sellerPostCode %> <%= vm.sellerCity %>, <%= vm.sellerCountry %></div>
    <div class="bullet">●</div>
    <div class="line">VAT number: <%= vm.sellerVatNumber %></div>
    <div class="bullet">●</div>
    <div class="line">IBAN: <%= vm.sellerIBAN %></div>
    <div class="bullet">●</div>
    <div class="line">SWIFT: <%= vm.sellerSWIFT %></div>
    <div class="bullet">●</div>
    <div class="line">Bank: <%= vm.sellerBank %></div>
  </div>

  <% if (vm.vat && vm.vat.barcodeData) { %>
    <script src="/assets/ejs/barcode/libbcmath.js" type="text/javascript"></script>
    <script src="/assets/ejs/barcode/bcmath.js" type="text/javascript"></script>
    <script src="/assets/ejs/barcode/pdf417.js" type="text/javascript"></script>
    <script src="/assets/ejs/barcode/barcode.js" type="text/javascript"></script>
  <% }; %>

</body>

</html>
